*{
    padding: 0;
    margin: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.about-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/washington.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.blog-header{
min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/newyork.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.contact-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: rgb(198, 88, 88);
    font-size: 15px;
}
.nav-links ul li a:hover{
    border: 1px solid red;
    background: red;
    transition: 1s;
    font-size: 20=x;
}
.tex-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.tex-box h1{
    font-size: 60px;
}
.tex-box p{
    margin: 10px 0 40px;
    color: white;
    font-size: 14px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid red;
    background: red;
    transition: 1s;
}
body{
    font-family:Arial,sans-serif;
    background-color: #f3f3f3;
    margin: auto;
    padding: 40px 20px;
}
.container{
    max-width: 900px;
    margin:auto;
    text-align: center;
}
h2{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 12px;
}
p.subtitle{
    font-weight: 400;
    font-size: 20px;
    color: #c9a60a;
    margin-bottom: 40px;
}
.cards{
    display:flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    background-color: #fff0f0;
    box-shadow: 0 2px 8px black;
    border-radius: 6px;
    padding: 25px;
    width:28% ;
    min-width: 250px;
    box-sizing: border-box;
}
.card h3{
    font-weight: 700;
    font-size: 21;
    margin-bottom: 12px;
}
.card p{
    font-weight: 300;
    font-size: 14px;
    color: #089b2d;
    line-height:1.5;
}
@media(max-width:768px){
.cards{
    flex-direction: column;
    align-items: center;
}
.card{
    width:100%;
    max-width: 400px;
}
}

.imageBox img{
    width: 200px;
    height: 300px;
}
.about-header{
    min-height: 100vh;
    width: 100%;

    background-image: linear-gradient(rgba(4,9,30,0.7),),rgba(4,9,30,0.7),
    url(images/banner2.jpg);
    background-position:center;
    background-size: cover;
    position: relative;

}
.contact-header{
    min-height: 100vh;
    width: 100%;

    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(images/background.jpg);

    background-position: center;
    background-size: cover;
    position: relative;
}
nav ing{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.nav-links ul li::after{
    content: ;
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0,5s;
}
.nav-links ul li:hover::after{
    width:100%;
}

.tex-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
}

.text-box p{
    margin: 10px 0 40px;
    color: #fff;
    font-size: 14px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border:1px solid #f44336;
    background: #554f4f;
    transition:1s;
}
nav.fa{
    display: none;
}



/* course style start*/
.course{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color:#777;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    line-height: 22px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fdf3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: justify;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/*-----campus style-----*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
}
.campus-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.layer{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: transparent;
}
.layer:hover{
    background: rgba(221,3,3,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}